
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800');

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #dddddd;
}
#wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}

.header{
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
	width: 1200px;
}

.header h1{
	font-weight: 800;
	font-size: 24px;
	color: white;
	padding-left: 80px;
	padding-top: 30px;
}

.header h2{
	font-weight: 600;
	font-size: 24px;
	color: white;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 50px;
}

.btn {
	font-weight: 800;
	font-size: 14px;
	border-radius: 5px;
	width: 20%;
	color: #033048;
	text-align: center;
	padding: 5px 5px;
	background-color: #f9e42e; 
}	

.img{
	padding-bottom: 300px;
}

.section2 {
	padding:58px 25px 78px 80px;
	background-color: #f0efef;
}

.section2 h1 {
	font-weight: 600;
	font-size: 20px;
	color: #033048;
	text-align: left;
	padding: 5px; 
}	

.section2 h2 {
	font-weight: 300;
	font-size: 13px;
	color: #606161;
	text-align: left;
	padding: 5px; 
}	

.section2 li {
	font-weight: 300;
	font-size: 13px;
	color: #606161;
	text-align: left;
	padding: 5px; 
}	

.section3 {
	background-image: url("../images/testimonial_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding:20px 300px 20px 300px;
}

.section3 h3 {
	font-weight: 300i;
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 5px; 
	display:inline-block;
}

.section3 h4 {
	font-weight: 300i;
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 5px; 
}

.section4 {
	padding:58px 200px 58px 200px;
	background-color: #f9e42e;
}

.btn2 {
	font-weight: 800;
	font-size: 12px;
	border-radius: 5px;
	width: 30%;
	color: white;
	text-align: center;
	padding: 7px 7px;
	background-color: #033048; 
}

.section5 {
	padding:5px 200px 100px 200px;
	background-color: #121212;
}

.section5 h5 {
	font-weight: 800;
	font-size: 24px;
	color: white;
	text-align: center;
	padding: 5px; 
}

.myfooter {
	text-align: center;
	background-color: #000;
	padding:40px 0 20px 0;
}
.myfooter h6{
	color:white;
	font-weight: 300;	
	padding:0;
	margin:0;
}
.myfooter h5{
	color:white;
	font-weight: 800;
	font-size: 24px;
	color:#f9e42e;
	padding: 0;
	margin:0;
}
.icon{
	display:inline-block; padding:100px 25px
}